<div class="page-header">
  <h1>Bienvenu sur <%= Rails.application.config.site[:name] %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        Bonjour <%=	@user.username %>. <br>
        Vous avez decidé de vous inscrire sur <%= Rails.application.config.site[:name] %> et vous avez bien fait. <br>
        Il vous reste maintenant une petite étape c'est confirmer votre compte. <br>
        Voici le lien <%= confirm_user_url(id: @user.id, token: @user.confirmation_token) %>
      </p>
    </div>
  </div>
</div>