<div class="page-header">
  <h1>Votre changement de code pour <%= Rails.application.config.site[:name] %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        Bonjour <%=	@user.username %>. <br>
        Vous avez demandé à effectué un changement de mot de passe pour votre compte
        <%= Rails.application.config.site[:name] %>.<br>
        Pour réinitialier votre mot de passe c'est par
        <a href="<%= edit_password_url(id: @user.id, token: @user.recover_password) %>" class="btn btn-primary">ici</a><br>
        Merci !
      </p>
    </div>
  </div>
</div>
